## Hello Everyone! 

### Today we will begin our exploration of the  Python universe

In this session, we will learn about VARIABLES in Python. Variables are entities which help us store information and retrieve it later. 

* A variable with a fixed name can store information of nature like numeric, textual, boolean etc.
* The type of data contained in a variable can be changed at user's will. 

We'll learn about the following topics:

* Types of data types in Python
* Learning about numbers and carrying out arithmetic operations on them
* How to assign variables?
* Exploring strings
* Learning Booleans

## Different data types we will encounter in Python

### Fundamental type of data (variables per se):
* Numeric - Numeric variables take values which are numbers like 9, 3.14, 0, Inf
* Texts - Text variables are used to store strings and date time types
* Boolean - They have two modes either True or False. A definite judge of statements!

### Types of numbers

* A lot many different types of numbers are supported in Python like integers (int type), real numbers (float type), complex numbers. We will mostly use integer and floating point numbers.

* Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

* Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

* Throughout this course we will be mainly working with integers or simple float number types.

* Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

In [8]:
# You can store numbers in variables.
# The standard rule is you write the variable name followed by = sign and the value it will take
x=3.1
y=4.2
y

4.2

In [4]:
y

4

#### Basic Arithmetic operations we can do on x and y. Later we will be doing operations on thousands of such numbers in one go!

In [5]:
# Addition
z = x+y

# Use print to print the variable
z

7

* A variable can be assigned different values and data types and it will store the last value assigned

In [9]:
# Subtraction
z= x- y

print(z)

type(z)  # Find out the data type of variable z

-1.1

float

In [11]:
# Multiplication
z= x*y

# We can simply write z to print z
z
type(z)

float

In [12]:
# Division
z=x/y
print(z)
# print("The value of z is %f" %(z))
# Print the data type contained in z
type(z)

0.7380952380952381

float

In [35]:
x=3
y=4
x/y

0.75

In [6]:
# Floor division
z= x//y  #  Remember x=3, y=4
print(z)

0

### Waittt! Shouldn't it be 0.75??
* The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) is the mathematical equivalent of doing [0.75] which returns the greatest integer less than or equal to 0.75

In [13]:
# Modulo operator
y=5
x=3
z = y%x       # Modulo is denoted by % sign
print(z)
print("The modulo operator returns the remainder after division")

2
The modulo operator returns the remainder after division

In [14]:
# Using powers and exponents

x**y    # We did not even need to store it in another variable nor use print command

243

In [9]:
# BODMAS nostalgia
some_random_operation =(x+y)/y + (y-x)*x     # Note : 

print(some_random_operation)
type(z)

4.75

int

In [16]:
# Storing large integer numbers
some_large_number = 1E5 

mole= 6.22E23

print(mole)

6.22e+23

###  Rules for naming a variable in Python
* Variables names must start with a letter or an underscore like _ product , product_
* The remainder of your variable name may consist of letters, numbers and underscores
* spacy1, pyThon,machine_learning are some valid variable names
  
* Names are case sensitive.
* case_sensitive, CASE_SENSITIVE, and Case_Sensitive are each a different variable.

In [18]:
1onone = 2

SyntaxError: invalid syntax (<ipython-input-18-a3fcab2f0c27>, line 1)

* Names cannot begin with a number. Python will throw an error when you try to do so 
* Names can not contain spaces, use _ instead
* Names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
      
* It is considered best practice that names are lowercase with underscores
* Avoid using Python built-in keywords like `list`, `str` , `def` etc. We will talk more about such conventions as we move along the course

## Introduction to Strings

* Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which     basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "joker' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).


* This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

###  Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [22]:
algebra=3

In [24]:
# Single word
my_first_string= 'algebra'
my_first_string

'algebra'

In [26]:
# Entire phrase 
phrase = 'Statistics sits at the heart of machine learning'
print(phrase)

Statistics sits at the heart of machine learning

In [28]:
# We can also use double quote
my_string = "String built with double quotes"
print(my_string)   # Use the print command

String built with double quotes

In [30]:
# Be careful with quotes!
sentence= "I'm using single quotes, but this will create an error"
print(sentence)

I'm using single quotes, but this will create an error

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [16]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

### How to print strings

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [4]:
# We can simply declare a string
'Deep Learning'

'Deep Learning'

In [31]:
# Note that we can't output multiple strings this way
'Linear Algebra'
'Calculus'

'Calculus'

We can use a print statement to print a string.

In [33]:
print('Linear Algebra')
print('Calculus')
print('Use \n to print a new line')
print('\n')
print('See what \n I mean?')

Linear Algebra
Calculus
Use
 to print a new line


See what
 I mean?

## Playing with strings

We can also use a function called len() to check the length of a string!

In [34]:
algo = 'regression'
len(algo)

10

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

###  String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [35]:
# Assign string as a string
string  = 'Principal Component Analysis!'

In [36]:
# Print the object
print(string)

Principal Component Analysis!

Let's start indexing!

In [41]:
# Show first element (in this case a letter)
string[10]

'C'

In [14]:
string[15]

'n'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

the rightmost point after colon is not included

In [43]:
# Grab everything past the first term all the way to the length of s which is len(s)
print(string)
string[1:10]

Principal Component Analysis!

'rincipal '

In [48]:
# Grab everything UP TO the 3rd index
string[10:19]

'Component'

In [19]:
#Everything
print(string)
string[:]

Principal Component Analysis!

'Principal Component Analysis!'

We can also use negative indexing to go backwards.

In [51]:
# Last letter (one index behind 0 so it loops back around)
print(string)
print(string[-4])

Principal Component Analysis!
s

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [29]:
# Grab everything, but go in steps size of 1
string[::1]

'Principal Component Analysis!'

In [21]:
# Grab everything, but go in step sizes of 2
string[::4]

'PclmeAy!'

In [31]:
# We can use this to print a string backwards
string[::-1]

'!sisylanA tnenopmoC lapicnirP'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [3]:
# Let's try to change the first letter to 'x'
string='Hello'
string[0]
string[0]= 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [8]:
# Concatenate strings!

string1='abc'
string2='def'
string1 + '4'+string2

'abc4def'

In [34]:
# We can reassign s completely though!
string1 = string + ' concatenate me!'
print(string1)

Principal Component Analysis! concatenate me!

In [35]:
letters = 'ML'
letters*10

'MLMLMLMLMLMLMLMLMLML'

# Comparison Operators 

These operators will allow us to compare variables and output a Boolean value (True or False). 

If you have any sort of background in Math, these operators should be very straight forward.

First we'll present a table of the comparison operators and then work through some examples:

<h2> Table of Comparison Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

### Lets find what are Boolean variables?

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [10]:
# Set object to be a boolean
boolean_variable = True
type(boolean_variable)

bool

In [5]:
#Show
boolean_variable

False

In [38]:
# Output is boolean
1 > 2

False

In [11]:
1==1

True

In [6]:
# None placeholder
boole = None

In [7]:
# Show
print(boole)

None

In [12]:
# Comparsion operator ==, returns Boolean variable
'machine learning'=='deep learning'

False

In [13]:
'machine learning'!='deep learning'

True

Let's now work through quick examples of each of these.

### Equal

In [1]:
2 == 2

True

In [2]:
2==0

False

### Note that == is a comparison operator, while = is an assignment operator.

### Not equal

In [1]:
2!=0

True

In [2]:
2!=2

False

# Greater than

In [11]:
a=3
b=2
a> b

True

In [12]:
3 > 4

False

### Less than

In [6]:
10 < 45

True

In [7]:
4 < 2

False

### Greater than or equal to

In [1]:
3 >=2

True

In [13]:
4 >= 4

True

### Less than or equal to

In [3]:
3 <= 0

False

In [4]:
1 <= 2

True